<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoodweLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GoodweLogger.Properties.Settings>
            <setting name="logfileName" serializeAs="String">
                <value>C:\GoodweLog.csv</value>
            </setting>
            <setting name="hostAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="logInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PVOutputSystemID" serializeAs="String">
                <value />
            </setting>
            <setting name="PVOutputAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PVOutputRequestURL" serializeAs="String">
                <value />
            </setting>
            <setting name="broadcastAddress" serializeAs="String">
                <value>192.168.50.255</value>
            </setting>
        </GoodweLogger.Properties.Settings>
    </userSettings>
</configuration>